@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  @media (min-width: 768px) {
    background-image: url("../assets/images/bg.jpg");
  }
  @media (max-width: 768px) {
    background-image: url("../assets/images/mobile-bg.png");
  }
  max-height: 500px;
  color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.hero h1 {
  font-weight: 800;
}
